@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


:root {
  /* Light */
  --color-light-50: #f8fafc;

  /* Dark */
  --color-dark-50: #797984;
  --color-dark-100: #312d37;
  --color-dark-900: #000;

  /* Blues and green */
  --color-blue-50: #004AAD;
  --color-blue-100: #006AAD;
  --color-green-200: #00AD6F;
  
    /*Variaveis dark*/
--color-newblue-75: #193465;
--color-newblue-60: #25476d;
--color-newblue-55: #275c79;
--color-newgreen-65: #286469;
--color-newgreen-75: #184e52;
--color-newgreen-100: #143944;

--color-newgradiente: linear-gradient(
  90deg,
  var(--color-newblue-60),
  var(--color-newblue-55),
  var(--color-newgreen-65),

);
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-newblue-55);
  
  }
  
  h2{
    margin-left: 50px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--color-green-200);
  
  }

  .msg_boasvindas{
    text-align: center;
    font-size: 28px;
  }
  
  nav {
    background: var(--color-blue-100);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
  ul {
    padding-left: 200px;
    margin-left: 150px;
    
  }
  
  .logo {
    width: 200px;
    height: 170px;
    position: absolute;
    top: -40px;
    left: 45px;
  }

  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  
  }
  
  nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
  }
  
 nav a:hover {
    color: #99d8ff;
    background-color: #004e80;
    transition: 0.5s;
  }

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 20px 25px  #006aad;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.service-list {
    margin-top: 20px;
}

.service-list ul {
    list-style-type: disc;
    padding-left: 20px;
}

.team {
    margin-top: 20px;
}

.team ul {
    list-style-type: none;
    padding-left: 0;
}

/*responsividade*/
@media (max-width: 960px) {
    .container {
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
        margin-bottom: 100px;
    }

    footer{
      display: none;
    }

   nav ul{ 
      display: none;
}
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    footer{
      display: none;
    }
}
/*responsividade*/

footer {
  background: var(--color-blue-100);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}